<div class="content">
<table>
<tr>
  <td>
    <a href="Ciconia/Ciconia.html"><abbr title="Ciconia\Ciconia">Ciconia\Ciconia</abbr></a>
  </td>
  <td>
    Ciconia - The New Markdown Parser
  </td>
</tr>
<tr>
  <td>
    <a href="Ciconia/Common/Collection.html"><abbr
        title="Ciconia\Common\Collection">Ciconia\Common\Collection</abbr></a>
  </td>
  <td>


  </td>
</tr>
<tr>
  <td>
    <a href="Ciconia/Common/Tag.html"><abbr title="Ciconia\Common\Tag">Ciconia\Common\Tag</abbr></a>
  </td>
  <td>


  </td>
</tr>
<tr>
  <td>
    <a href="Ciconia/Common/Text.html"><abbr title="Ciconia\Common\Text">Ciconia\Common\Text</abbr></a>
  </td>
  <td>


  </td>
</tr>
<tr>
  <td>
    <a href="Ciconia/Console/Application.html"><abbr
        title="Ciconia\Console\Application">Ciconia\Console\Application</abbr></a>
  </td>
  <td>
    Run Ciconia as a single command application.
  </td>
</tr>
<tr>
  <td>
    <a href="Ciconia/Console/Command/CiconiaCommand.html"><abbr title="Ciconia\Console\Command\CiconiaCommand">Ciconia\Console\Command\CiconiaCommand</abbr></a>
  </td>
  <td>
    Command-line interface
  </td>
</tr>
<tr>
  <td>
    <a href="Ciconia/Console/Command/CompileCommand.html"><abbr title="Ciconia\Console\Command\CompileCommand">Ciconia\Console\Command\CompileCommand</abbr></a>
  </td>
  <td>
    Creates Phar archive
  </td>
</tr>
<tr>
  <td>
    <a href="Ciconia/Diagnose/Ciconia.html"><abbr title="Ciconia\Diagnose\Ciconia">Ciconia\Diagnose\Ciconia</abbr></a>
  </td>
  <td>


  </td>
</tr>
<tr>
  <td>
    <a href="Ciconia/Diagnose/Event.html"><abbr title="Ciconia\Diagnose\Event">Ciconia\Diagnose\Event</abbr></a>
  </td>
  <td>


  </td>
</tr>
<tr>
  <td>
    <a href="Ciconia/Diagnose/Markdown.html"><abbr
        title="Ciconia\Diagnose\Markdown">Ciconia\Diagnose\Markdown</abbr></a>
  </td>
  <td>


  </td>
</tr>
<tr>
  <td>
    <em> <a href="Ciconia/Event/EmitterAwareInterface.html"><abbr title="Ciconia\Event\EmitterAwareInterface">Ciconia\Event\EmitterAwareInterface</abbr></a>
    </em></td>
  <td>
    EmitterAwareInterface should be implemented by classes that depends on EmitterInterface
  </td>
</tr>
<tr>
  <td>
    <a href="Ciconia/Event/EmitterAwareTrait.html"><abbr title="Ciconia\Event\EmitterAwareTrait">Ciconia\Event\EmitterAwareTrait</abbr></a>
  </td>
  <td>
    Implementation of EmitterAwareInterface
  </td>
</tr>
<tr>
  <td>
    <em> <a href="Ciconia/Event/EmitterInterface.html"><abbr title="Ciconia\Event\EmitterInterface">Ciconia\Event\EmitterInterface</abbr></a>
    </em></td>
  <td>
    Central event manager (heavily inspired by Node.js's EventEmitter)
  </td>
</tr>
<tr>
  <td>
    <a href="Ciconia/Event/EmitterTrait.html"><abbr title="Ciconia\Event\EmitterTrait">Ciconia\Event\EmitterTrait</abbr></a>
  </td>
  <td>
    Central event manager (heavily inspired by Node.js's EventEmitter)
  </td>
</tr>
<tr>
  <td>
    <a href="Ciconia/Exception/MarkdownException.html"><abbr title="Ciconia\Exception\MarkdownException">Ciconia\Exception\MarkdownException</abbr></a>
  </td>
  <td>


  </td>
</tr>
<tr>
  <td>
    <a href="Ciconia/Exception/SyntaxError.html"><abbr title="Ciconia\Exception\SyntaxError">Ciconia\Exception\SyntaxError</abbr></a>
  </td>
  <td>
    Syntax Error ("strict" mode)
  </td>
</tr>
<tr>
  <td>
    <a href="Ciconia/Extension/Core/BlockQuoteExtension.html"><abbr title="Ciconia\Extension\Core\BlockQuoteExtension">Ciconia\Extension\Core\BlockQuoteExtension</abbr></a>
  </td>
  <td>
    Converts text to
    <blockquote>
  </td>
</tr>
<tr>
  <td>
    <a href="Ciconia/Extension/Core/CodeExtension.html"><abbr title="Ciconia\Extension\Core\CodeExtension">Ciconia\Extension\Core\CodeExtension</abbr></a>
  </td>
  <td>
    Converts block and line code
  </td>
</tr>
<tr>
  <td>
    <a href="Ciconia/Extension/Core/EscaperExtension.html"><abbr title="Ciconia\Extension\Core\EscaperExtension">Ciconia\Extension\Core\EscaperExtension</abbr></a>
  </td>
  <td>
    Escape special characters
  </td>
</tr>
<tr>
  <td>
    <a href="Ciconia/Extension/Core/HeaderExtension.html"><abbr title="Ciconia\Extension\Core\HeaderExtension">Ciconia\Extension\Core\HeaderExtension</abbr></a>
  </td>
  <td>
    Converts text to
    <blockquote>
  </td>
</tr>
<tr>
  <td>
    <a href="Ciconia/Extension/Core/HorizontalRuleExtension.html"><abbr
        title="Ciconia\Extension\Core\HorizontalRuleExtension">Ciconia\Extension\Core\HorizontalRuleExtension</abbr></a>
  </td>
  <td>
    Converts horizontal rules
  </td>
</tr>
<tr>
  <td>
    <a href="Ciconia/Extension/Core/HtmlBlockExtension.html"><abbr title="Ciconia\Extension\Core\HtmlBlockExtension">Ciconia\Extension\Core\HtmlBlockExtension</abbr></a>
  </td>
  <td>
    Hashes HTML text
  </td>
</tr>
<tr>
  <td>
    <a href="Ciconia/Extension/Core/ImageExtension.html"><abbr title="Ciconia\Extension\Core\ImageExtension">Ciconia\Extension\Core\ImageExtension</abbr></a>
  </td>
  <td>
    Turn Markdown image shortcuts into <img> tags.
  </td>
</tr>
<tr>
  <td>
    <a href="Ciconia/Extension/Core/InlineStyleExtension.html"><abbr
        title="Ciconia\Extension\Core\InlineStyleExtension">Ciconia\Extension\Core\InlineStyleExtension</abbr></a>
  </td>
  <td>
    Original source code from Markdown.pl
  </td>
</tr>
<tr>
  <td>
    <a href="Ciconia/Extension/Core/LinkExtension.html"><abbr title="Ciconia\Extension\Core\LinkExtension">Ciconia\Extension\Core\LinkExtension</abbr></a>
  </td>
  <td>
    Original source code from Markdown.pl
  </td>
</tr>
<tr>
  <td>
    <a href="Ciconia/Extension/Core/ListExtension.html"><abbr title="Ciconia\Extension\Core\ListExtension">Ciconia\Extension\Core\ListExtension</abbr></a>
  </td>
  <td>
    Form HTML ordered (numbered) and unordered (bulleted) lists.
  </td>
</tr>
<tr>
  <td>
    <a href="Ciconia/Extension/Core/ParagraphExtension.html"><abbr title="Ciconia\Extension\Core\ParagraphExtension">Ciconia\Extension\Core\ParagraphExtension</abbr></a>
  </td>
  <td>
    Original source code from Markdown.pl
  </td>
</tr>
<tr>
  <td>
    <a href="Ciconia/Extension/Core/WhitespaceExtension.html"><abbr title="Ciconia\Extension\Core\WhitespaceExtension">Ciconia\Extension\Core\WhitespaceExtension</abbr></a>
  </td>
  <td>
    Original source code from Markdown.pl
  </td>
</tr>
<tr>
  <td>
    <em> <a href="Ciconia/Extension/ExtensionInterface.html"><abbr title="Ciconia\Extension\ExtensionInterface">Ciconia\Extension\ExtensionInterface</abbr></a>
    </em></td>
  <td>
    Ciconia extensions must implement ExtensionInterface to register listeners to Markdown
  </td>
</tr>
<tr>
  <td>
    <a href="Ciconia/Extension/Gfm/FencedCodeBlockExtension.html"><abbr
        title="Ciconia\Extension\Gfm\FencedCodeBlockExtension">Ciconia\Extension\Gfm\FencedCodeBlockExtension</abbr></a>
  </td>
  <td>
    Markdown converts text with four spaces at the front of each line to code blocks.
  </td>
</tr>
<tr>
  <td>
    <a href="Ciconia/Extension/Gfm/InlineStyleExtension.html"><abbr title="Ciconia\Extension\Gfm\InlineStyleExtension">Ciconia\Extension\Gfm\InlineStyleExtension</abbr></a>
  </td>
  <td>
    Original source code from GitHub Flavored Markdown
  </td>
</tr>
<tr>
  <td>
    <a href="Ciconia/Extension/Gfm/TableExtension.html"><abbr title="Ciconia\Extension\Gfm\TableExtension">Ciconia\Extension\Gfm\TableExtension</abbr></a>
  </td>
  <td>
    Gfm tables
  </td>
</tr>
<tr>
  <td>
    <a href="Ciconia/Extension/Gfm/TaskListExtension.html"><abbr title="Ciconia\Extension\Gfm\TaskListExtension">Ciconia\Extension\Gfm\TaskListExtension</abbr></a>
  </td>
  <td>
    Further, lists can be turned into Task Lists by prefacing list items with [ ] or [x] (incomplete or complete,
    respectively).
  </td>
</tr>
<tr>
  <td>
    <a href="Ciconia/Extension/Gfm/UrlAutoLinkExtension.html"><abbr title="Ciconia\Extension\Gfm\UrlAutoLinkExtension">Ciconia\Extension\Gfm\UrlAutoLinkExtension</abbr></a>
  </td>
  <td>
    Turn standard URL into markdown URL (http://example.com -> <a href="http://example.com">http://example.com</a>)
  </td>
</tr>
<tr>
  <td>
    <a href="Ciconia/Extension/Gfm/WhiteSpaceExtension.html"><abbr title="Ciconia\Extension\Gfm\WhiteSpaceExtension">Ciconia\Extension\Gfm\WhiteSpaceExtension</abbr></a>
  </td>
  <td>
    Original source code from GitHub Flavored Markdown
  </td>
</tr>
<tr>
  <td>
    <a href="Ciconia/HashRegistry.html"><abbr title="Ciconia\HashRegistry">Ciconia\HashRegistry</abbr></a>
  </td>
  <td>
    Manages hash and raw text
  </td>
</tr>
<tr>
  <td>
    <a href="Ciconia/Markdown.html"><abbr title="Ciconia\Markdown">Ciconia\Markdown</abbr></a>
  </td>
  <td>
    Manages parser options and events
  </td>
</tr>
<tr>
  <td>
    <a href="Ciconia/Renderer/HtmlRenderer.html"><abbr title="Ciconia\Renderer\HtmlRenderer">Ciconia\Renderer\HtmlRenderer</abbr></a>
  </td>
  <td>
    Renders markdown result to HTML format
  </td>
</tr>
<tr>
  <td>
    <em> <a href="Ciconia/Renderer/RendererAwareInterface.html"><abbr title="Ciconia\Renderer\RendererAwareInterface">Ciconia\Renderer\RendererAwareInterface</abbr></a>
    </em></td>
  <td>
    RendererAwareInterface should be implemented by extension classes that depends on RendererInterface
  </td>
</tr>
<tr>
  <td>
    <a href="Ciconia/Renderer/RendererAwareTrait.html"><abbr title="Ciconia\Renderer\RendererAwareTrait">Ciconia\Renderer\RendererAwareTrait</abbr></a>
  </td>
  <td>
    Implementation of RendererAwareInterface
  </td>
</tr>
<tr>
  <td>
    <em> <a href="Ciconia/Renderer/RendererInterface.html"><abbr title="Ciconia\Renderer\RendererInterface">Ciconia\Renderer\RendererInterface</abbr></a>
    </em></td>
  <td>
    RendererInterface must be implemented by classes that renders result of Markdown
  </td>
</tr>
<tr>
  <td>
    <a href="Ciconia/Renderer/XhtmlRenderer.html"><abbr title="Ciconia\Renderer\XhtmlRenderer">Ciconia\Renderer\XhtmlRenderer</abbr></a>
  </td>
  <td>
    Renders markdown result to XHTML format
  </td>
</tr>
</table>
</div>
