---
layout: default
---

<div class="a-project-content content">
  <div class="content-header" style="padding:10px 0;">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8">
          <h1 style="margin:0;font-size:30px;"><a href="/" style="color:#fff;text-decoration:none;">Ciconia</a> <small style="color:#eee;font-size:18px;">/ A New Markdown Parser for #PHP</small></h1>
        </div>
        <div class="col-lg-4 col-md-4 text-right hidden-sm">
          <a class="btn btn-primary" href="https://github.com/kzykhys/Ciconia/releases">Download Now</a>
          <a class="btn btn-default" href="https://github.com/kzykhys/Ciconia"><span aria-hidden="true" class="icon-github"></span> Fork on Github</a>
        </div>
      </div>
    </div>
  </div>
  <div class="content-header" style="padding:10px 0;background-color:#0d96ad;">
    <div class="container">
      <nav class="ciconia-subnav">
        <a class="btn btn-info" href="/">Try Ciconia</a>
        <a class="btn btn-info" href="/docs/">Documentation</a>
        <a class="btn btn-info active" href="/syntax.html">Syntax</a>
        <a class="btn btn-info" href="/development.html">Development</a>
        <a class="btn btn-info" href="/api/">API</a>
      </nav>
    </div>
  </div>

  <div class="container syntax-guide" style="margin-top:10px;">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="panel" style="margin-top:20px;">
          <div class="panel-heading">
            Table of Contents
          </div>
          <div class="panel-body">
            <h5>Basic Markdown</h5>
            <ul class="list-unstyled">
              <li><a href="#core-headings">Headings</a></li>
              <li><a href="#core-paragraphs">Paragraphs</a></li>
              <li><a href="#core-blockquotes">Blockquotes</a></li>
              <li><a href="#core-lists">Lists</a></li>
              <li><a href="#core-code">Code Blocks / Inline Code</a></li>
              <li><a href="#core-hr">Horizontal Rules</a></li>
              <li><a href="#core-links">Links</a></li>
              <li><a href="#core-emphasis">Emphasis</a></li>
              <li><a href="#core-images">Images</a></li>
            </ul>

            <h5>Github Flavored Markdown</h5>
            <ul class="list-unstyled">
              <li><a href="#gfm-links">Links</a></li>
              <li><a href="#gfm-code">Fenced Code Blocks</a></li>
              <li><a href="#gfm-task-list">Task Lists</a></li>
              <li><a href="#gfm-tables">Tables</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-9">
        {{ content }}
      </div>
    </div>
  </div>
</div>